<!-- FRESHSERVICE MAIN STYLES ENTRY POINT -->
<!-- Include all style modules -->
{% include 'components/freshservice/modules/base-styles.html' %}
{% include 'components/freshservice/modules/header-styles.html' %}
{% include 'components/freshservice/modules/sidebar-styles.html' %}
{% include 'components/freshservice/modules/table-styles.html' %}
{% include 'components/freshservice/modules/modal-styles.html' %}
{% include 'components/freshservice/modules/missing-styles.html' %}
{% include 'components/freshservice/modules/responsive-styles.html' %} 