<!-- FRESHSERVICE MODULAR COMPONENT -->
<!-- Main container -->
<div class="freshservice-container">
    <!-- Include styles -->
    {% include 'components/freshservice/modules/styles-main.html' %}
    
    <!-- Include header -->
    {% include 'components/freshservice/header.html' %}
    
    <!-- Include sidebar -->
    {% include 'components/freshservice/filters_sidebar.html' %}
    
    <!-- Include main content -->
    {% include 'components/freshservice/modules/main-content.html' %}
    
    <!-- Include modal -->
    {% include 'components/freshservice/ticket_modal.html' %}
    
    <!-- Include scripts -->
    {% include 'components/freshservice/modules/scripts-main.html' %}
</div> 