<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">

</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
    
    <div class="sidebar border-end">
        <div class="sidebar-header border-bottom">
          <div class="sidebar-brand">CoreUI</div>
        </div>
        <ul class="sidebar-nav">
          <li class="nav-title">Nav Title</li>
          <li class="nav-item">
            <a class="nav-link active" href="#">
              <i class="nav-icon cil-speedometer"></i> Nav item
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="nav-icon cil-speedometer"></i> With badge
              <span class="badge bg-primary ms-auto">NEW</span>
            </a>
          </li>
          <li class="nav-item nav-group show">
            <a class="nav-link nav-group-toggle" href="#">
              <i class="nav-icon cil-puzzle"></i> Nav dropdown
            </a>
            <ul class="nav-group-items">
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span class="nav-icon"><span class="nav-icon-bullet"></span></span> Nav dropdown item
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span class="nav-icon"><span class="nav-icon-bullet"></span></span> Nav dropdown item
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item mt-5">
            <a class="nav-link" href="https://coreui.io">
              <i class="nav-icon cil-cloud-download"></i> Download CoreUI</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://coreui.io/pro/">
              <i class="nav-icon cil-layers"></i> Try CoreUI
              <strong>PRO</strong>
            </a>
          </li>
        </ul>
        <div class="sidebar-footer border-top d-flex">
          <button class="sidebar-toggler" type="button"></button>
        </div>
      </div>
</body>
</html>

